.about {
    margin-top: 2rem;
    width: 100%;
    padding: 100px 0;

    .container {
        border: 2px solid $black;

        .about-content {
            .about-img {
                padding: 30px;

                img {
                    width: 90%;
                    height: 100%;
                }
            }

            .about-info {
                h1 {
                    margin-bottom: 30px;
                }

                .about-info-p1 {
                    margin-bottom: 1.8rem;
                    font-size: 1.1rem;
                }

                .about-info-p2 {
                    margin-bottom: 1.8rem;
                    font-size: 1.1rem;
                }

                .about-contacts {
                    margin-top: 1.8px;

                    strong {
                        color: $color2;
                    }

                    p {
                        margin-top: .8rem;
                    }

                    .col-6 {
                        margin: 1rem 0;
                    }
                }
            }
        }
    }
}

