.portfolio {
    margin-top: -5rem;
    .container {
        border: 2px solid $black;
        .portfolio-box {
            padding: 40px;
            background: $color3;
            color: $white;
            margin: 20px;
            transition: all .5s linear;

            &:hover {
                background: $color2;
            }

            .commonIcons {
                font-size: 40px;
                color: $color2;
                margin-bottom: 1.5rem;
            }

            &:hover .commonIcons {
                color: $white;
            }

            .portfolio-box-header {
                font-size: 20px;
                font-weight: 500;
                margin-bottom: 1.5rem;
            }
        }
    }
}

